@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: auto;
    max-width: 100%;
}

.header {
    background-image: url('../img/three-people-watching-laptop-and-pointing-fingers.png');
    background-position: cover;
    background-repeat: no-repeat;
    }

.menu {
    color: #FFFFFF;
    font-family: monospace;
    font-size: 15px;
}

.blue-button {
    background-color: #2091F9;
    color: #FFFFFF;
    border-radius: 35px;
}

.pricing {
    background-color: #252B42;
}

.free {
    background-color: #FFFFFF;
}

.standard {
    background-color: #2091F9;
}

.business {
    background-color: #FFFFFF;
}

